/* Centering loader */
#page-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#pullrequests-load-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: gray;
    opacity: 20%;
    width: 100%;
    height: 100%;
}

#pullrequests-loader {
    position: absolute;
    left: 50%;
    top: 50%;
}

/* Overriding materialize default chips input */
.chips .input {
    width: 100% !important;
}