/* Centering loader */
.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/* Overriding materialize default chips input */
.chips .input {
    width: 100% !important;
}