<a class="waves-effect waves-light btn-large" id="reload-btn">
    <i class="material-icons left">refresh</i>
    Reload
</a>
<a class="waves-effect waves-light btn-large modal-trigger" href="#modalComment" id="comment-btn">
    <i class="material-icons left">comment</i>
    Comment selected
</a>
