<!-- Modal Comment -->
<div id="modalComment" class="modal">
    <div class="modal-content">
        <h4>Comment</h4>
        <div class="input-field col s12">
            <textarea id="commentMessage" class="materialize-textarea"></textarea>
            <label for="commentMessage">Comment message</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Comment</a>
    </div>
</div>
