{{! This is `Pull Request List` item which appear when user decided to fetch pull requests from given `slug` }}
<ul class="collection" {{^ pulls }}hidden{{/ pulls }}>
    {{# pulls }}
        {{> pull }}
    {{/pulls}}
</ul>

{{! This message show when there are not Pull Requests }}
{{^ pulls }}
    <div class="card-panel red lighten-2" id="no-pull-requests">
        {{! `slug` is `owner/repo` }}
        <h2>0 non-collaborator Pull Requests</h2>
    </div>
{{/ pulls }}
